

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.block{
    
    padding-bottom:280px;
    padding-top:70px;
    box-sizing:border-box;
    overflow:hidden;

}
















