

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.block{
    
    padding-bottom:100px;
    align-self:auto;
    padding-top:60px;

    

}
















